.container input[type="radio"]:checked + label {
  color: #f3ecec;
  background-color: #39414c;
}
.label{
  height: 30px;
  width: 100px;
  
  z-index: 1;
  border-radius: 99px;
  transition: transform 2.5 ease-out; /* Update the transition property */
}



.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  font-size: .8rem;
  color: black;
  font-weight: 600;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.container input[type="radio"]:checked + label > .notification {
  background-color: #f8f8f8;
  color: #1d0707;
  margin: 0px;
}

.container {
  width: 650px;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.50rem;
  border-radius: 99px;
}

.tabs {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.50rem;
  border-radius: 99px;
}

@media (max-width: 700px) {
  .tabs {
      transform: scale(0.6);
  }
}

@media (max-width: 800px) {
 
 .nav{
  display: none;
 }
}